:root {
  --bg: #CCD5DA;
  --border-color: #F5F5F5;
  --secondary-bg: #798F9C;
  --primary-color: #FF0049;
  --secondary-color: #002B45;
  --terciary-color: #FFF1E5;
  --white: #FFFFFF;
  --black: #000000;

  --main-font: 'Poppins', sans-serif;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
}


