form.WizardStep2 {
    & fieldset {
        & > div {
            display: flex;
            flex-direction: column;

            & label {
                font-family: var(--main-font);
                font-size: 0.8rem;
                font-weight: var(--semi-bold);
                margin-bottom: 0.3rem;
            }
            & input {
                height: 2.875rem;
                width: 17rem;
                padding: 1rem;
                font-family: var(--main-font);
                font-size: 0.8rem;
                font-weight: var(--regular);
                border: solid 1px var(--secondary-bg);
            }
        }
        & p {
            max-width: 74%;
            margin-bottom: 2rem;
        }
    }
    & .wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: none;
        margin-bottom: 1.5rem;
        & > div {
            margin-right: 2rem;
        }
        & > div:last-child {
            margin-right: 0;
        }
    }
    & fieldset:last-child {
        border: none;
        & p {
            margin-bottom: .7rem;
        }
        & input {
            width: 100%;
            margin-bottom: 0.3125rem;;
        }
        & span {
            align-self: flex-end;
            font-family: var(--main-font);
            font-size: 0.8rem;
            font-weight: var(--light);
            color: var(--secondary-bg)
        }
    }
}